<%@ tag language="java" pageEncoding="UTF-8" %>
<html>
<head>
</head>
<body>
<h1>Welcome here!</h1>
<div>
    <h2>On this website you can access different kinds of APIs, using the correct links.</h2>
</div>

<div>
    <jsp:doBody/>
</div>

</body>
</html>